@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

body {
  background: hsl(218, 28%, 13%);
  color: #fff;
  font-family: sans-serif;
}


.wrapper {
  padding: 0 20px;
}


.main-container {
  position: relative;
}


.sm-container {
  margin: 0 auto;
  max-width: 800px;

}

.md-container {
  margin: 0 auto;
  max-width: 1100px;

}


/************************
header
*************************/

header {
  padding-bottom: 150px;
  background: url(../images/bg-curvy-mobile.svg) bottom center no-repeat;
  background-size: 100% 20%;
  background-color: hsl(216, 53%, 9%);
}
/*************************
intro
*************************/

.intro {
  text-align: center;
  padding: 50px 0;
}


.intro img {
  max-width: 100%;
  height: auto;
}


.intro .button {
width: 300px;
padding: 1.2em;

}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

nav li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

nav li a {
  text-decoration: none;
  color: #fff;
}
ul {
  margin-left: auto;
}



/***********************
cards
*************************/


.cards {
  padding: 0 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-auto-rows: minmax(300px,auto);
  grid-gap: 50px 100px;
  margin-bottom: 100px;
}

/*test*/

.card {
  padding: 20px;
}



/********************
PRODUCTIVITY section
**********************/




.productivity {
 /*  display: grid; */
  /*grid-template-columns: repeat(auto-fit,minmax(500px,1fr)); */
  /*grid-auto-rows: minmax(300px,auto); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

}


.productivity a {
  color: hsl(176, 68%, 64%);
  padding-bottom: .5em;
  text-decoration: none;
  border-bottom: 1px solid hsl(176, 68%, 64%);
}

.productivity a:after {
 content: url(../images/icon-arrow.svg);
 margin-left: .5em;

}

.prod {
  padding: 10px;
}


.prod-col1 img {
  max-width: 100%;
  height: auto;
}


/*********************
REVIEW SECTION
********************/

.review {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-gap: 30px;
  margin-bottom: 100px;
}


.review-card {
  background-color: hsl(219, 30%, 18%);
  padding: 30px;
  border-radius: 12px;
}

.reviewer-info {
  display: flex;
}


.review-card {
  line-height: 1.8em;
}

.rev-card1 {
  position: relative;

}

.rev-card1::before {
  content: url('../images/bg-quotes.png');
  position: absolute;
  top: -35px;
  left: -10px;
  z-index: 1;
  transform: scale(.5);
}

.reviewer-pic-info img {
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
}

.reviewer-name-info {
  line-height: 8px;
}

.reviewer-name {
  font-weight: bold;
}

/********************
EARLY Access
**********************/
.early-access-container {
  position: relative;
  padding: 0 10px;
}

.early-access-container::after {
  content: "";
  height: 70%;
  width: 100%;
  background-color: hsl(216, 53%, 9%);
  position: absolute;
  bottom: -30%;
  z-index: -1;
}


.early-access-form {
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  bottom: 12%;
  max-width: 800px;
  margin: 0 auto;
  background-color:  hsl(217, 28%, 15%);
}



/********************
form
*********************/

form {
display: flex;
flex-direction: column;

}

form input {
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}

.button {
  color: #fff;
  background: hsl(176, 68%, 64%);
  padding: 15px;
  border: none;
  border-radius: 25px;
}

/********************
footer
********************/

.footer-container {
  background-color: hsl(216, 53%, 9%);

}

footer {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
}

footer > * {
  margin: 10px;
  padding: 10px;

}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
 margin: 10px 0;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}


.attribution, .attribution a {
  color: #fff;
}

.phone::before {
content: url('../images/icon-phone.svg');
margin-right: 15px;
}

.email::before {
  content: url('../images/icon-email.svg');
  margin-right: 15px;
}



@media screen and (min-width: 768px) {

  .wrapper {
  width: 99%;
  margin: 0 auto;
  max-width: 1660px;
}


header {
  background: url(../images/bg-curvy-desktop.svg) bottom center no-repeat;
  background-size: 100% 40%;
  background-color: hsl(216, 53%, 9%);
}


.review {
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(400px,auto);
}

.productivity > * {
  margin-right: 50px;
}



footer {
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(200px, auto);
}


form {
  flex-direction: row;
}

input {
flex-grow: 1;
flex-basis: 0;
}

input[type="email"] {
  flex-grow: 2;
}


}

@media screen and (min-width: 1224px) {

  section.productivity {
    flex-direction: row;
  }



}
